PROJECT_NAME="Restaurant Management System"
API_V1_STR="/api/v1"

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=restaurant_db
POSTGRES_PORT=5432

# URL for SQLAlchemy: postgresql://user:password@server/db
DATABASE_URL=postgresql://postgres:password@localhost/restaurant_db

SECRET_KEY=CHANGE_THIS_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=admin
